---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<section class="section__left">
			<div class="profile">
				<div class="profile--pic">
					<img src="" alt="profile--pic">
				</div>
				<div class="profile--name">Artur Carter</div>
				<div class="profile--profession">
					<p>Front-end Developer</p>
					<p>UI/UX Designer</p>
				</div>
			</div>
			<div class="info"></div>
			<div class="socials"></div>
		</section>
		<section class="section__middle">
		</section>
		<section class="section__right">
		</section>
	</body>
</html>

<style>
	*, *::before, *::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		transition: all 0.3s ease;
	}

	body {
		background: rgb(32,32,42);
		font-size: 1rem;
		color: white;
	}
</style>
