---
const { divider } = Astro.props;
---

<article class="info__block">
    <slot />
    { divider ? <div class="divider"></div> : null }
</article>

<style>
    .info__block {
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
    }
    .divider {
        width: 100%;
        height: 1px;
        background: hsla(0, 0%, 100%, 0.1);
    }
</style>