---
import InfoBlock from "./InfoBlock.astro"
---

<section class="section__left">
	<!-- === PROFILE === -->
    <div class="profile">
        <div class="profile--pic">
            <img src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="profile--pic">
            <div class="status__indicator"></div>
        </div>
        <div class="profile--name">Artur Carter</div>
        <div class="profile--profession">
            <p>Front-end Developer</p>
            <p>UI/UX Designer</p>
        </div>
    </div>

	<!-- === INFO === -->
    <div class="info">
		<InfoBlock divider={true}>
			<p class="info--residence"><span class="info--heading">Residence:</span> <span class="info--grey">Canada</span></p>
			<p class="info--city"><span class="info--heading">City:</span> <span class="info--grey">Toronto</span></p>
			<p class="info--age"><span class="info--heading">Age:</span> <span class="info--grey">26</span></p>
		</InfoBlock>
	</div>

	<!-- === SOCIALS === -->
    <div class="socials"></div>
</section>

<style>
	.section__left {
		width: 20vw;
		height: 100vh;
		background-color: #20202A;
		display: flex;
		flex-direction: column;
        box-sizing: border-box;
    }

    /* ============== PROFILE ================ */
	.profile {
        box-sizing: border-box;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.75em;
		text-align: center;
		background-color: #24242E;
        padding: 1em 2em;
	}
	.profile--pic {
		width: 80px;
		height: 80px;
		background: gray;
		border-radius: 50%;
		position: relative;
	}
	.profile--pic > img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		object-fit: cover;
		object-position: top;
	}
	.status__indicator {
		width: 12px;
		height: 12px;
		outline: 2px solid hsla(43, 88%, 61%, 0.3);
		border-radius: 50%;
		background: #F3C043;
		position: absolute;
		right: 8px;
		bottom: 3px;
	}
	.profile--name {
		font-size: 0.9rem;
		font-weight: bold;
	}
	.profile--profession {
		font-size: 0.8rem;
		font-weight: normal;
		opacity: 0.7;
	}

    /* ============== INFO ================ */
	.info {
		width: 100%;
	}
	.info--residence, .info--city, .info--age {
		font-size: 0.9rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.info--heading {
		font-weight: bold;
	}
	.info--grey {
		opacity: 0.66;
	}

    /* ============== SOCIALS ================ */
	.socials {
		width: 100%;
	}
</style>