---

---

<section class="section__right">
	<h2>right section</h2>
</section>

<style>
    /* Right Section */
	.section__right {
		width: 15vw;
		height: 100vh;
		background-color: #20202A;
	}
</style>